@media (min-width: 768px) {
    .h2_fz30 {
        font-size: 25px;
        line-height: 25px;
    }

    // Promo
    .promo {
        &__wrapper {
            &__information {
                h1 {
                    margin-top: 50px;
                    font-size: 25px;
                    line-height: 25px;
                }
                &-sub_title {
                    font-size: 40px;
                    line-height: 40px;
                    margin: 20px 0;
                }
                &-title {
                    font-size: 25px;
                    line-height: 25px;
                }
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }

    // Intensive
    .intensive {
        padding: 75px 0;
        &__wrapper {
            &__subtitle {
                font-size: 23px;
                line-height: 23px;
            }
            &__block {
                &__item {
                    img {
                        width: fit-content;
                    }
                }
            }
        }
    }

    // Optimization
    .optimization {
        &__wrapper {
            &__content {
                h2 {
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .h2_fz30 {
        font-size: 30px;
        line-height: 30px;
    }

    // Promo
    .promo {
        &__wrapper {
            &__information {
                h1 {
                    margin-top: 50px;
                    font-size: 35px;
                    line-height: 35px;
                }
                &-sub_title {
                    font-size: 55px;
                    line-height: 55px;
                    &::before, &::after {
                        margin-bottom: 8px;
                    }
                }
                &-title {
                    font-size: 35px;
                    line-height: 35px;
                }
                p {
                    font-size: 21px;
                    line-height: 28px;
                }
            }
        }
    }

    // Intensive
    .intensive {
        &__wrapper {
            &__block {
                grid-template-columns: repeat(3, 1fr);
                column-gap: 50px;
                &__item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    // Optimization
    .optimization {
        background: url(../img/woman_bg.png) -190% bottom no-repeat;
        &__wrapper {
            &__content {
                margin-top: 60px;
                h2 {
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        margin: 0 auto;
    }

    // Promo
    .promo {
        &__wrapper {
            &__information {
                h1 {
                    font-size: 41px;
                    line-height: 41px;
                }
                &-sub_title {
                    font-size: 80px;
                    line-height: 80px;
                    &::before, &::after {
                        margin-bottom: 12px;
                    }
                }
                &-title {
                    font-size: 41px;
                    line-height: 41px;
                }
            }
            button {
                margin-top: 70px;
                padding: 25px 15px;
            }
            &-down {
                margin-top: 70px;
            }
        }
    }

    // Optimization
    .optimization {
        background: url(../img/woman_bg.png) left bottom no-repeat;
    }
}