.footer {
    background: #1A1A1A;
    padding: 55px 0 70px;
    &__wrapper {
        max-width: 410px;
        margin: 0 auto;
        nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        display: block;
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 21px;
                        text-align: center;
                        text-decoration-line: underline;
                        color: #888888;
                    }
                }
            }
        }
        &__call {
            font-weight: 300;
            font-size: 15px;
            line-height: 21px;
            text-align: center;
            color: #888888;
            a {
                color: #888888;
            }
        }
    }
}